img, embed, object, video{width:100%;}
body{height:100%;
	background-image: url("img/background.jpg") repeat;}
header{height:30%;}
hr{height:1px;
   color:#fffff;
   width: 100%; 
   margin-left: auto; 
   margin-right: auto; }
img{height:100%;}